{% extends "base.html" %}



{% block container %}


        {% if messages %}
        
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
        </div>
        
            {% endif %}

    {% endfor %}

{% endif %}


{% include "partials/relogio.html" %}

{% include "partials/form.html" %}


{% endblock container %}



